<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Functional Testing" >

  <test name="Test 1">
 
  <parameter name="browser" value="opera"/>

    <classes>

      <class name="testScenario.Collections"/>

    </classes>

  </test> <!-- Test -->

  
 
</suite> <!-- Suite -->